@import "compass/css3";

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin bp($point) {
    @if $point == tablet {
        @media (min-width: 768px) { @content; }
    }
    @else if $point == desktop {
        @media (min-width: 1025px) { @content; }
    }
    @else if $point == huge {
        @media (min-width: 1400px) { @content; }
    }
}

$border: #ccc;
$light-gray: #f8f8fa;
$light-blue: #4183c4;

$background-color: $light-gray;
$foreground-color: rgba(250, 250, 250, 0.80);

$section-spacing: 15px;
$inner-left-padding: 15px;

a, li, span, div, p, address {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

body {
    background-image: url('../images/purty-wood.png');
    background-size: 400px 400px;
    background-repeat: repeat;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../images/purty-wood-retina.png');
    }
}
a {
    color: $light-blue;
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.7em;
}
h3 {
    font-family: Roboto, sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contained {
    width: 100%;
    margin: 0;
    max-width: 1400px;
    @include bp( tablet ) {
        width: 85%;
        margin: 0 auto;
    }
}

.section-header {
    margin: 40px 0 10px;
    background: #fff;
    padding: 15px 0;
    border-left: 5px solid $light-blue;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    @include bp( tablet ) {
        margin: 50px 0 20px;
    }
}
.section-header-text {
    color: $light-blue;
    padding-left: $inner-left-padding;
    @include bp( tablet ) {
        padding-left: 0;
    }
}

.brands,
.trade-shows,
.showrooms,
.contacts {
    margin-top: $section-spacing;
}

.main-header {
    .contained { @extend %clearfix; }
    @include bp( tablet ) {
        position: fixed;
        top: 0; left: 0; right: 0;
        z-index: 9999;
        background: $foreground-color;
        background: rgba(255, 255, 255, 0.9);
        border-bottom: 2px solid $light-gray;
    }
}
.page-header {
    text-align: center;
    margin: $section-spacing 0 0;
    padding: 30px 0;
    background: $foreground-color;
    @include bp( tablet ) {
        float: left;
        padding: 15px 0;
        margin: 0;
        font-size: 1.5em;
        background: none;
    }
    @include bp( desktop ) {
        font-size: 1.8em;
    }
}
.main-nav {
    margin-top: $section-spacing;
    background: $foreground-color;
    ul {
        @extend %clearfix;
    }
    li {
        text-align: center;
        border-bottom: 2px solid $light-gray;
        font-size: 20px;
        padding: 15px;
        &:last-child { border: none; }
    }

    @include bp( tablet ) {
        float: right;
        margin-top: 0;
        background: none;
        li {
            float: left;
            border: none;
            font-size: 16px;
            padding: 0 0 0 18px;
            line-height: 62px;
        }
    }

    @include bp( desktop ) {
        li {
            font-size: 17px;
            line-height: 68px;
            padding-left: 25px;
        }
    }
}

.about {
    background: $foreground-color;
    text-align: center;
    p {
        padding: 20px 15px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.6;
    }
    @include bp( tablet ) {
        background-image: url('../images/sky.jpg');
        background-position: center bottom;
        background-size: cover;
        height: 550px;
        position: relative;
        p {
            font-size: 21px;
            background: rgba(255, 255, 255, 0.7);
            width: 60%;
            position: absolute;
            left: 7.5%;
            bottom: 50%;
            margin-bottom: -95px;
        }
    }
    @include bp( desktop ) {
        height: 700px;
        p {
            width: 45%;
            font-size: 23px;
            margin-bottom: -115px;
        }
    }
}

.brands {
    .brand {
        background: $foreground-color;
        padding: 15px;
        margin-bottom: 10px;
    }
    .btn {
        display: block;
        width: 55%;
        text-align: center;
        border: 2px solid $light-blue;
        border-radius: 4px;
        padding: 5px 0;
        margin: 15px auto 5px;
        i { padding-left: 4px; }
        &:hover {
            text-decoration: none;
            background: rgba(65, 131, 196, 0.15);
        }
    }
    .logo {
        background-size: cover;
        width: 100%;
    }
    .spyder-logo {
        background-image: url('../images/spyder-logo-mobile.png');
        padding-bottom: 54.7%;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../images/spyder-logo-mobile-retina.png');
        }
    }
    .oneill-logo {
        background-image: url('../images/oneill-logo-mobile.png');
        padding-bottom: 50%;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../images/oneill-logo-mobile-retina.png');
        }
    }
    .skechers-logo {
        background-image: url('../images/skechers-logo-mobile.png');
        padding-bottom: 39.4%;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../images/skechers-logo-mobile-retina.png');
        }
    }
    .bula-logo {
        background-image: url('../images/bula-logo-mobile.png');
        padding-bottom: 50%;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../images/bula-logo-mobile-retina.png');
        }
    }
    .wigwam-logo {
        background-image: url('../images/wigwam-logo-mobile.png');
        padding-bottom: 51%;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url('../images/wigwam-logo-mobile-retina.png');
        }
    }
}

.trade-shows {
    .dash { display: none; }
    ul { @extend %clearfix; }
    li {
        background: $foreground-color;
        text-align: center;
        font-size: 17px;
        padding: 12px 0 16px;
        margin-bottom: 5px;
        strong {
            line-height: 1.7;
            font-size: 19px;
        }
    }
    @include bp( tablet ) {
        .dash { display: inline; padding: 0 5px; }
        br { display: none; }
    }
    @include bp( desktop ) {
        li {
            width: 49.5%;
            float: left;
            margin-bottom: 1%;
        }
        li:nth-of-type(2n+1) {
            margin-right: 1%;
        }
    }
}

.showrooms {
    .showroom {
        padding: $inner-left-padding;
        background: $foreground-color;
        margin-bottom: 10px;
        h3 { margin: 0; padding: 0 0 8px; }
        .comma { display: none; }
    }
    .contained { @extend %clearfix; }
    @include bp( tablet ) {
        br { display: none; }
        address { float: right; line-height: 25px; }
        .showroom h3 { float: left; }
        .showroom { margin-bottom: 25px; }
        .comma { display: inline; }
    }
}

#calgary-map-canvas, #vancouver-map-canvas {
    width: 100%;
    height: 200px;
    @include bp( tablet ) {
        height: 400px;
    }
}

.contacts {
    .contact-list {
        @extend %clearfix;
    }
    .contact {
        background: $foreground-color;
        padding: 25px $inner-left-padding;
        margin-bottom: 10px;

        h3 { margin: 0 0 15px; }
        p { margin: 10px 0; }
        i {
            font-size: 17px;
            padding-right: 15px;
        }

        @include bp( tablet ) {
            float: left;
            width: 49.5%;
            margin-bottom: 1%;
            border: none;
            padding-left: 25px;
            @include box-sizing(border-box);
        }
        &:nth-of-type(2n+1) {
            @include bp( tablet ) {
                margin-right: 1%;
            }
        }
    }
}

.page-footer {
    padding: 16px 0 16px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    p { margin: 0; }
    .dash { display: none; }
    @include bp( tablet ) {
        margin-top: 50px;
        .dash { display: inline; }
        br { display: none; }
    }
}
